<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <%- include('partials/head')%>
</head>
<body>
    <%- include('partials/navigation.ejs') %>

    <main class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center">
        <section>
            <h1 class="display-1">about</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum tempora fugit eos odit eius incidunt sint tempore atque sequi ipsa iure in maxime qui itaque, blanditiis dignissimos? Quasi quas sequi in accusamus delectus accusantium qui ipsam possimus dignissimos et ipsum officiis, ducimus nesciunt non aperiam. Accusamus repellendus veritatis eius perferendis rerum corporis amet esse expedita, cumque officia dignissimos possimus porro sint vitae tenetur magni cupiditate ipsum maxime corrupti repellat totam? Similique, placeat! Minima tempora numquam, voluptatem odio eveniet corrupti rem mollitia ipsum in aperiam exercitationem itaque, deserunt dolore est impedit minus quibusdam beatae? Consequuntur laborum sapiente rem, optio blanditiis nulla iste porro officia ut recusandae similique veritatis vel laboriosam consectetur eos cupiditate cum illum. Fugiat iste iure voluptatibus beatae deleniti fugit, ullam praesentium corrupti rerum facilis vitae, tempora laborum, sapiente optio delectus eligendi! Asperiores, ipsam! Neque, nam inventore eligendi quod repellat dolores quo ab cumque commodi dicta. Mollitia nemo magnam, nihil dicta minima, perspiciatis qui cumque temporibus sint maiores id ipsa fugit. Qui quam, dolor consectetur repellendus rem, consequatur ad explicabo rerum aut id ab cum fugit sed adipisci, omnis molestiae hic. Eos eius natus iure maiores possimus aspernatur excepturi aliquam tenetur. Ipsa velit eos fuga ipsam quibusdam. Aperiam voluptatibus a ut corrupti ipsa tempora facere laudantium culpa error, assumenda deleniti, aliquam magni, numquam placeat doloribus nemo porro praesentium odio blanditiis excepturi consequuntur voluptatem ducimus. Eum culpa dolores labore neque. Eos unde odit facere tempore voluptates quod exercitationem, aut repellat quo officia et rerum vero perspiciatis blanditiis alias. Facere quisquam dolor molestias aut aspernatur in voluptatum est? Reiciendis repellat quam commodi animi! Vel dolore placeat doloribus suscipit ipsa aspernatur sequi, nulla repellat dicta soluta maiores non dolor, ad modi fuga quibusdam? Impedit eius rem beatae sapiente perferendis laudantium distinctio ea soluta. Vel, incidunt. Quisquam, tenetur reprehenderit natus alias voluptatem nesciunt!</p>
        </section>
    </main>

    <%- include('partials/footer') %>
</body>
</html>